<label>Email<br><br><input type="email" name="email" id="email2" class="css-input css-input:focus"></label><br><br>
<label>Password<br><br><input type="password" name="password" id="password2" class="css-input css-input:focus"></label>
<label><br><br><p>By loggin in, you are accepting all privacy poltics</p></label><br>