<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <title>Financial App</title>
    <style>
        body{
            background-color: #0E100F;
            color: #16462A;
            font-family: arial;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
        }
        nav a{
            color: #16462A;
            text-decoration: none;
            display: block;
        }
        .css-input { 
            padding:3px; 
            font-size:13px; 
            border-width:2px; 
            box-shadow: 1px 0px 0px 0px rgba(42,42,42,.75); 
            font-weight:normal; 
            text-align:center; 
            background-color:#000000; 
            border-color:#164622; 
            color:#164622; 
            border-radius:24px; 
            border-style:solid;  
        } 
        .css-input:focus { outline:none; }
        .myButton {
            background-color:#000000;
            border-radius:42px;
            border:2px solid #16441D;
            display:inline-block;
            cursor:pointer;
            color:#16441D;
            font-family:Arial;
            font-size:13px;
            padding:5px 20px;
            text-decoration:none;
        }
        #div1{
            display: inline-block;
            padding-left: 30%;
            height: 100%;
        }
        #div2{
            display: inline-block;
            padding-left: 10%;
        }
        
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h2>Homepage</h3>
    </header>
    <main>
        <h3>Just the best financial app</h4>
    </main>
    <div id="div1">
        <h4>Register</h4>
        <form action="/user/process-register" method="post" role="form" id="form1">
            <%- include('./partials/user/_form_fields_register.ejs') %><br><br><br>
            <input type="submit" class="myButton" value="Sign Up">
        </form>
    </div>
    <div id="div2">
        <h4 id="login_title">Login</h4>
        <form action="/user/process-login" method="post" id="form2">
            <%- include('./partials/user/_form_fields_login.ejs') %><br><br><br>
            <input type="submit" class="myButton" value="Sign In">
        </form>
    </div>
</body>
</html>